@import url('https://fonts.googleapis.com');


:root {
    --page-color: #f0f0f0;
    --section-bg-color: #fff;
    --text-color: #000000;
    --highlight-color: #ff8c00;
}

.title {
    font-family: 'Play', sans-serif;
    font-weight: 250;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: var(--highlight-color);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.navbar {
    font-family: 'Play', sans-serif;
    font-weight: 250;
    position: fixed;
    top: 80px;
    width: 100%;
    background-color: var(--highlight-color);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--page-color);
}

#main-content {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-top: 0;
}

.play-btn {
    font-family: 'Play', sans-serif;
    font-weight: 250;
    position: absolute;
    top: 340px;
    left: 820px;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--highlight-color);
    color: var(--section-bg-color);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.play-btn:hover {
    background-color: #e07a00;
    transform: scale(1.05);
}

.instructions-btn {
    font-family: 'Play', sans-serif;
    font-weight: 250;
    position: absolute;
    top: 400px;
    left: 790px;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--highlight-color);
    color: var(--section-bg-color);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.instructions-btn:hover {
    background-color: #e07a00;
    transform: scale(1.05);
}

.leaderboard-btn {
    font-family: 'Play', sans-serif;
    font-weight: 250;
    position: absolute;
    top: 460px;
    left: 780px;
    padding: 15px 37px;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--highlight-color);
    color: var(--section-bg-color);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.leaderboard-btn:hover {
    background-color: #e07a00;
    transform: scale(1.05);
}